* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#chocolateRain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

#chocolateRain span {
  position: absolute;
  top: -40px;
  animation-name: fall;
  animation-timing-function: linear;
}

@keyframes fall {
  from {
    transform: translateY(-40px);
  }
  to {
    transform: translateY(110vh);
  }
}


body {
  height: 100vh;
  background: linear-gradient(135deg, #ffd6e8, #ffeef6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #fff0f6;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

h1 {
  color: #d6336c;
  font-size: 2.2rem;
  margin-bottom: 10px;
}

h2 {
  color: #b5174f;
  margin-bottom: 20px;
}

#question {
  background: #ffffff;
  padding: 10px 15px;
  border-radius: 20px;
  margin-bottom: 20px;
  font-size: 0.95rem;
}

button {
  padding: 12px 25px;
  margin: 10px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

#yesBtn {
  background: #ff4d6d;
  color: white;
}

#yesBtn:hover {
  background: #e0315b;
}

#noBtn {
  background: #adb5bd;
  color: white;
}

#noBtn:hover {
  background: #868e96;
}

.quote {
  margin-top: 25px;
  font-style: italic;
  color: #6c757d;
  font-size: 0.9rem;
}

